@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    this.ViewData["Title"] = "Contacts";
}

<head>
    <link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="col mt-1">

    <div class="row justify-content-center">

        <div class="image col-md-12">
            <img class="card-img" src="~/images/contacts/deefe45gh.png" alt="news">
        </div>

    </div>

    <div class="row col-md-12 justify-content-center">

        <div class="col-md-2"></div>

        <div class="col contact-text contact-text-image">
            <h3 class="text row ml-0">Контакти на ресторанта</h3>
            <p><i class="fa-solid fa-house"></i> - Адрес на ресторанта:</p>
            <p><i class="fa-solid fa-address-card"></i> - Варна, ул Здравко Чакъров №9</p>
            <p><i class="fa-solid fa-square-phone"></i> - Телефон за връзка:</p>
            <p><i class="fa-solid fa-phone-volume"></i> - +359 878706869</p>
            <p><i class="fa-solid fa-phone-volume"></i> - +359 878744418</p>
        </div>

        <div class="image-one contact-text-image">
        </div>

        <div class="col contact-text contact-text-image">
            <h3 class="text row ml-0">Контакти на фирмата</h3>
            <p><i class="fa-solid fa-house"></i> - Адрес на фирмата:</p>
            <p><i class="fa-solid fa-address-card"></i> - гр.Долна Оряховица,ул.Черно Море 2</p>
            <p><i class="fa-solid fa-square-phone"></i> - Телефон за връзка:</p>
            <p><i class="fa-solid fa-phone-volume"></i> - +359 878706869</p>
            <p><i class="fa-solid fa-phone-volume"></i> - +359 878744418</p>
        </div>

        <div class="image-one contact-text-image">
        </div>

        <div class="col-md-2"></div>

    </div>
</div>

