@{
    this.ViewData["Title"] = "Gdpr";
}

<head>
    <link rel="stylesheet" href="~/css/gdpr.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">

    <h1 class="row justify-content-center">ЗАЩИТА НА ЛИЧНИТЕ ДАННИ</h1>

    <hr />
    <h3 class="row justify-content-center">ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ</h3>

    <h3>I. ВЪВЕДЕНИЕ</h3>

    <h5>
        ИЗПОЛЗВАЙКИ ТАЗИ ИНТЕРНЕТ СТРАНИЦА ВИЕ СЕ СЪГЛАСЯВАТЕ С УСЛОВИЯТА ОТНОСНО СЪБИРАНЕТО, ИЗПОЛЗВАНЕТО И РАЗКРИВАНЕТО  НА ВАШИТЕ ЛИЧНИ ДАННИ В СЪОТВЕТСТВИЕ С ТАЗИ ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ

        МОЛЯ ДА ПРОЧЕТЕТЕ ТАЗИ ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ ВНИМАТЕЛНО ПРЕДИ ДА ИЗПОЛЗВАТЕ ТОЗИ УЕБ САЙТ И В СЛУЧАЙ, ЧЕ ИМАТЕ ВЪПРОСИ ОТНОСНО НАСТОЯЩАТА ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ, МОЛЯ ДА СЕ СВЪРЖЕТЕ С НАС НА +359 878 706 869 ИЛИ НА SUPPORT  pri_lalo@abv.bg АКО НЕ СТЕ СЪГЛАСНИ С НЯКОИ ОТ УСЛОВИЯТА, СЪДЪРЖАЩИ СЕ В НАСТОЯЩАТА ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ, ВИЕ НЕ ТРЯБВА ДА ИЗПОЛЗВАТЕ ТОЗИ УЕБ САЙТ.
    </h5>

    <h3>АДМИНИСТРАТОР НА ЛИЧНИ ДАННИ</h3>

    <p>
        Безергянов ЕООД (по-нататък наричана за краткост "Администратор")
        с ЕИК 201077382, със седалище и адрес на управление:
        гр.Долна Оряховица,ул.Черно Море 2, телефон за контакти +359 878 706 869 и интернет страница <a href="https://bezergyanov.com">https://bezergyanov.com</a>.
    </p>

    <h3>НАДЗОРЕН ОРГАН:</h3>

    <p>
        Комисия за защита на личните данни

        Адрес: гр София, п.к. 1592, бул. „Проф. Цветан Лазаров” 2

        Данни за контакт: 02/915 35 18; 02/915 35 15; 02/915 35 19;  kzld@cpdp.bg, www.cpdp.bg
    </p>


    <h3>II. ЦЕЛИ И ОБХВАТ НА ПОЛИТИКАТА ЗА ПОВЕРИТЕЛНОСТ</h3>

    <p>
        1.1 Администраторът разбира съображенията на посетителите на този уеб сайт относно защитата на личните данни и е ангажиран да защити техните лични данни като прилага всички стандарти за защита на личните данни съгласно Регламент (ЕС) 2016/679 на Европейския парламент и на Съвета от 27 април 2016 година относно защитата на физическите лица във връзка с обработването на лични данни и относно свободното движение на такива данни и за отмяна на Директива 95/46/ЕО. С настоящата Политика за поверителност Администраторът зачита неприкосновеността на личността на физическите лица и полага всички необходими усилия за защита на личните данни на физическите лица срещу неправомерно обработване посредством прилагане на технически и организационни мерки за защита на личните данни, които мерки са изцяло съобразени със съвременните технологични постижения и осигуряват ниво на защита, което съответства на рисковете, свързани с обработването, и на естеството на данните, които трябва да бъдат защитени.

        1.2 С настоящата Политика за поверителност и в изпълнение на изискванията на Регламент (ЕС) 2016/679, Доставчикът предоставя информация относно:

        – целите и обхвата на политиката за поверителност;

        – личните данни събирани и обработвани от доставчика;

        –  целите на обработването на личните данни;

        – срок на съхранение на личните данни;

        – задължителен и доброволен характер на предоставяне на личните данни;

        – обработване на лични данни;

        – защита на личните данни;

        – получателите или категориите получатели, на които могат да бъдат разкрити данните;

        – права  на физическите лица;

        – ред за упражняване на правата;

        – право на възражение;

        – бутони, инструменти и съдържание от други компании;

        – промени в политиката за поверителност.
    </p>

    <h3>III.    ДЕФИНИЦИИ</h3>

    <p>
        2.1 По смисъла на Регламент (ЕС) 2016/679 и на настоящата политика посочените термини имат следното значение:

        Лични данни означава всяка информация, свързана с идентифицирано физическо лице или физическо лице, което може да бъде идентифицирано („субект на данни“); физическо лице, което може да бъде идентифицирано, е лице, което може да бъде идентифицирано, пряко или непряко, по-специално чрез идентификатор като име, идентификационен номер, данни за местонахождение, онлайн идентификатор или по един или повече признаци, специфични за физическата, физиологичната, генетичната, психическата, умствената, икономическата, културната или социална идентичност на това физическо лице.
        Обработване на лични данни означава всяка операция или съвкупност от операции, извършвана с лични данни или набор от лични данни чрез автоматични или други средства като събиране, записване, организиране, структуриране, съхранение, адаптиране или промяна, извличане, консултиране, употреба, разкриване чрез предаване, разпространяване или друг начин, по който данните стават достъпни, подреждане или комбиниране, ограничаване, изтриване или унищожаване.
        Oграничаване на обработването означава маркиране на съхранявани лични данни с цел ограничаване на обработването им в бъдеще.
        Профилиране означава всяка форма на автоматизирано обработване на лични данни, изразяващо се в използването на лични данни за оценяване на определени лични аспекти, свързани с физическо лице, и по-конкретно за анализиране или прогнозиране на аспекти, отнасящи се до изпълнението на професионалните задължения на това физическо лице, неговото икономическо състояние, здраве, лични предпочитания, интереси, надеждност, поведение, местоположение или движение.
        Aдминистратор означава физическо или юридическо лице, публичен орган, агенция или друга структура, която сама или съвместно с други определя целите и средствата за обработването на лични данни; когато целите и средствата за това обработване се определят от правото на Съюза или правото на държава членка, администраторът или специалните критерии за неговото определяне могат да бъдат установени в правото на Съюза или в правото на държава членка.
        Oбработващ лични данни означава физическо или юридическо лице, публичен орган, агенция или друга структура, която обработва лични данни от името на администратора.
        Получател означава физическо или юридическо лице, публичен орган, агенция или друга структура, пред която се разкриват личните данни, независимо дали е трета страна или не. Същевременно публичните органи, които могат да получават лични данни в рамките на конкретно разследване в съответствие с правото на Съюза или правото на държава членка, не се считат за „получатели“; обработването на тези данни от посочените публични органи отговаря на приложимите правила за защита на данните съобразно целите на обработването.
        Tрета страна означава физическо или юридическо лице, публичен орган, агенция или друг орган, различен от субекта на данните, администратора, обработващия лични данни и лицата, които под прякото ръководство на администратора или на обработващия лични данни имат право да обработват личните данни.
        Съгласие на субекта на данните означава всяко свободно изразено, конкретно, информирано и недвусмислено указание за волята на субекта на данните, посредством изявление или ясно потвърждаващо действие, което изразява съгласието му свързаните с него лични данни да бъдат обработени.
        Нарушение на сигурността на лични данни означава нарушение на сигурността, което води до случайно или неправомерно унищожаване, загуба, промяна, неразрешено разкриване или достъп до лични данни, които се предават, съхраняват или обработват по друг начин.
    </p>

    <h3>IV. ПРИНЦИПИ ПРИ ОБРАБОТКА НА ЛИЧНИТЕ ДАННИ </h3>

    <p>
        3.1 Администраторът следва следните принципи при обработка на личните данни за физическите лица, а именно:

        Личните данни са обработвани законосъобразно, добросъвестно и по прозрачен начин по отношение на субекта на данните („законосъобразност, добросъвестност и прозрачност“);
        Личните данни са събирани за конкретни, изрично указани и легитимни цели и не се обработват по-нататък по начин, несъвместим с тези цели;
        Личните данни са подходящи, свързани със и ограничени до необходимото във връзка с целите, за които се обработват („свеждане на данните до минимум“);
        Личните данни са точни и при необходимост да бъдат поддържани в актуален вид („точност“);
        Личните данни са съхранявани във форма, която да позволява идентифицирането на субекта на данните за период, не по-дълъг от необходимото за целите, за които се обработват личните данни („ограничение на съхранението“);
        Личните данни са обработвани по начин, който гарантира подходящо ниво на сигурност на личните данни, включително защита срещу неразрешено или незаконосъобразно обработване и срещу случайна загуба, унищожаване или повреждане, като се прилагат подходящи технически или организационни мерки („цялостност и поверителност“).
    </p>

    <h3>V. ЛИЧНИ ДАННИ, СЪБИРАНИ И ОБРАБОТВАНИ ОТ АДМИНИСТРАТОРА</h3>

    <p>
        А. Обработка на специални категории лични данни („чувствителни данни“)

        4.1 Администраторът не събира и не съхранява специални категории лични данни, като например: лични данни, разкриващи расов или етнически произход, политически възгледи, религиозни или философски убеждения или членство в синдикални организации, генетични данни, биометрични данни за целите единствено на идентифицирането на физическо лице, данни за здравословното състояние или данни за сексуалния живот или сексуалната ориентация на физическото лице. Физическите лица не трябва да предоставят такива чувствителни данни на Администратора. В случай, че физическото лице умишлено предоставя чувствителни данни на Администратора, Администраторът се задължава незабавно да ги изтрие.

        Б. Лични данни, събирани директно от физическите лица

        Лични данни, събирани директно от физическите лица, когато лицата се свързват с Администратора по телефон

        5.1 Физическите лица предоставят лични данни на Администратора, когато се свържат с Администратора по телефон. Телефонният номер за контакт с Администратора е посочен в данните за идентификация на Администратора в настоящата Политика за поверителност и в меню „Контакти“, където са предоставени данните за контакт с Администратора. Когато лицето се свърже с Администратора по телефон, Администраторът събира и обработва единствено името и телефония номер на физическото лице, а в някои случаи и адреса на електронната поща на физическото лице. Тези данни се обработват за целите за комуникация с физическото лице. Oбработването на тези лични данни е необходимо:

        – за реализирането на легитимните интереси на Aдминистратора, които легитимни интереси са отговаряне на получените обаждания и изпращане на мейли във връзка със запитвания получени по телефон.

        – за действия, предхождащи сключването на договор и предприети по негово искане на физическото лице, а именно предоставяне на повече информация предлаганите от Администратора услуги във връзка с евентуално сключване на договор с физическото лице.

        Администраторът използва услугите на доставчик на телефонни услуги, който доставчик се намира в Република България.

        Лични данни, събирани директно от физическите лица, когато лицата се свързват с Администратора чрез контактната форма на сайта за осъществяване на контакт с Администратора

        5.2 Физическите лица предоставят лични данни на Администратора, когато се свържат с Администратора посредством изпращане на съобщение използвайки контактната форма на сайта на Администратора, намираща се на: https://bezergyanov.com/contacts. Когато лицето изпрати съобщение до Администратора използвайки контактната форма за осъществяване на контакт, Администраторът събира и обработва името на физическото лице, адреса на електронната поща, както и останалата информация, която лицето предоставя в изпратеното съобщение, като например адрес. Тези данни се обработват за целите за комуникация с физическото лице и воденето на регистри. Oбработването на тези лични данни е необходимо:

        – за реализиране на легитимните интереси на Aдминистратора, които легитимни интереси са изпращане на отговор на получените съобщения, а също така и запазване на получените съобщения.

        – за действия, предхождащи сключването на договор и предприети по негово искане на физическото лице, а именно предоставяне на повече информация предлаганите от Администратора услуги във връзка с евентуално сключване на договор с физическото лице.

        Администраторът използва услугите на доставчик на услугата електронна поща за съхраняване на получените имейли на сървър на доставчика, който сървър се намира в Република България.

        Лични данни, събирани директно от физическите лица, когато лицата се свързват с Администратора по e-mail

        5.3 Физическите лица предоставят лични данни на Администратора, когато се свържат с Администратора по електронна поща. Адресът на електронната поща на Администратора е посочен в данните за идентификация на Администратора в настоящата Политика за поверителност, където са предоставени данните за контакт с Администратора, а също така и в публикуваните общи условия на уеб сайта. Когато лицето изпрати имейл до Администратора, Администраторът събира и обработва адреса на електронната поща, както и останалата информация, която лицето предоставя в изпратения e-mail, като например име, телефонен номер, адрес. Тези данни се обработват за целите за комуникация с физическото лице и воденето на регистри. Обработването на тези лични данни е необходимо:

        – за реализиране на легитимните интереси на Администратора, които легитимни интереси са изпращане на отговор на получените съобщения, а също така и запазване на получените съобщения.

        – за действия, предхождащи сключването на договор и предприети по негово искане на физическото лице, а именно предоставяне на повече информация предлаганите от Администратора услуги във връзка с евентуално сключване на договор с физическото лице.

        Администраторът използва услугите на доставчик на услугата електронна поща за съхраняване на получените имейли на сървър на доставчика, който сървър се намира в Република България.

        Лични данни, събирани директно от физическите лица, когато лицата се свързват с Администратора чрез изпращане на съобщение посредством използване на платформата Facebook

        5.4 Физическите лица предоставят лични данни на Администратора, когато се свържат с Администратора чрез изпращане на съобщение посредством използване на платформата Facebook чрез услугата за съобщения на Facebook, достъпна чрез страницата на администратора във Facebook на: https://www.facebook.com/bezergyanov/. Когато лицето изпрати съобщение до Администратора посредством използване на платформата Facebook чрез услугата за съобщения на Facebook, Администраторът събира и обработва името на физическото лице както и останалата информация, която лицето предоставя в изпратеното съобщение. Тези данни се обработват за целите за комуникация с физическото лице и воденето на регистри. Обработването на тези лични данни е необходимо за реализиране на легитимните интереси на Администратора, които легитимни интереси са изпращане на отговор на получените съобщения, а също така и запазване на получените съобщения. Администраторът използва услугите на Facebook, независим доставчик на услуги, намиращ се в САЩ, за получаване на съобщения посредством платформата Facebook. Това означава, че предоставените лични данни ще бъдат съхранявани на сървърите на Facebook в САЩ. За предаването на тези лични данни извън Европейското икономическо пространство следва да бъдат предоставени подходящи гаранции съгласно чл.46 от Регламент (ЕС) 2016/679. Facebook удостоверява, че спазва принципите на „Щита за личните данни в отношенията между ЕС и САЩ“. Facebook има собствена Политика за поверителност и физическите лица е препоръчително да се запознаят с нея, за да получат повече информация. Политиката за поверителност на Facebook е публикувана на следния адрес: https://www.facebook.com/policy.php

        Лични данни, събирани директно от физическите лица, когато лицата извършат регистрация на уеб сайта

        5.5 Физическите лица предоставят лични данни на Администратора когато извършат регистрация на уеб сайта на Администратора с цел създаване на профил. При извършване на регистрация физическото лице предоставя следните лични данни, които Администраторът събира и обработва, а именно: име и фамилия на физическото лице и адрес на електронна поща. Събирането и обработването на тези лични данни е необходимо: – за реализиране на легитимните интереси на Администратора, които легитимни интереси са предоставяне на възможност на физическото лице да поддържа регистриран профил в уеб сайта на Администратора, за да се запазват предпочитани от физическото лице стоки и закупуват желани от физическото лице стоки; – с оглед сключване или изпълнение на договор за покупка на стоки. Данните на физическите лица се съхраняват на сървър на доставчик на хостинг услуги, който доставчик е регистриран в Република България.

        Лични данни, събирани директно от физическите лица, когато лицата закупуват стока

        5.6 Физическите лица предоставят лични данни на Администратора когато извършат покупка на стока от уеб сайта на Администратора. При при закупуване или опит за закупуване на стока от уеб сайта на Администратора физическото лице предоставя следните лични данни, които Администраторът събира и обработва, а именно: име и фамилия на физическото лице, адрес на електронна поща, телефон и адрес. Събирането и обработването на тези лични данни е необходимо: – с оглед сключване или изпълнение на договор за покупка на стоки; – за изпълнение на законови задължения за целите на издаване на фактури. Данните на физическите лица се съхраняват на сървър на доставчик на хостинг услуги, който доставчик е регистриран в Република България.

        Лични данни, събирани директно от физическите лица, когато лицата се абонират за получаването на бюлетин

        5.7 Физическите лица предоставят адреса на електронната си поща когато желаят да се абонират за получаването на бюлетин. Когато лицето се абонира за получаване на бюлетини, съдържащи публикации и полезна информация за стоките предлагани от Администратора, промоционални оферти и други подобни, Администраторът събира и обработва адреса на електронната поща на физическото лице и името на физическото лице. Тези данни се обработват за целите на изпращане на лицето на бюлетини. Основанието за обработване на тези лични данни е предоставеното изрично съгласие на физическото лице. Администраторът използва услугите на MailChimp, независим доставчик на услуги, намиращ се в САЩ, за изпращане на бюлетини и управление на списъка с имейли. Това означава, че предоставените адреси на електронна поща ще бъдат съхранявани на сървърите на MailChimp в САЩ. За предаването на тези лични данни извън Европейското икономическо пространство следва да бъдат предоставени подходящи гаранции съгласно чл.46 от Регламент (ЕС) 2016/679. MailChimp удостоверява, че спазва принципите на „Щита за личните данни в отношенията между ЕС и САЩ“. MailChimp има собствена Политика за поверителност и физическите лица е препоръчително да се запознаят с нея, за да получат повече информация. Политиката за поверителност на MailChimp е публикувана на следния адрес: https://mailchimp.com/legal/privacy/. Освен това между администратора и MailChimp има сключен договор.

        В. Лични данни на физически лица предоставяни от трети страни

        6.1 Администраторът обикновено не получава лични данни за физически лица от трети страни. Въпреки това, в някои случаи, ако Администраторът има основателни причини да подозира, че дадено физическо лице нарушава правата на интелектуалната собственост и други подобни случаи, тогава Администраторът има право да се снабди с лични данни на заподозряното лице от публични регистри, като например: Търговския регистър, регистъра за регистрирани търговски марки воден от Патентното ведомство на Република България и други подобни. Тези данни могат да бъдат събирани и обработвани с цел завеждане на иск за нарушение срещу нарушителя. Обработването на лични данни събрани от публичен регистър е необходимо за целите на легитимните интереси на Aдминистратора, които легитимни интереси са завеждане на иск за извършено нарушение срещу нарушителя, а също така и на законово основание.

        Г. Данни, събирани автоматично

        7.1 При посещението на уеб сайта Администраторът автоматично събира следните данни, а именно:

        Адрес на интернет протокола (IP) на устройството, от което физическото лице осъществява достъп до платформата (обикновено се използва за определяне на страната или града, от които физическото лице достъп до платформата);
        Вид на устройството, от което физическото лице осъществява достъп до платформата (например компютър, мобилен телефон, таблет и др.);
        Вид на операционната система;
        Вид на браузъра;
        Конкретните действия, които физическото лице предприема, включително посетените страници, честотата и продължителността на посещенията на уеб сайта;
        Дата и време на посещенията.
        Конкретните действия, които физическото лице предприема, включително посетените страници, честотата и продължителността на посещенията на уеб сайта и всички действия извършени на уеб сайта.
    </p>

    <h3>VI. БИСКВИТКИ</h3>

    <p>
        8.1 Физическите лица могат да получат повече информация относно това как Администраторът използва бисквитки като прочетат Политиката относно бисквитките на: https://bezergyanov.com/page/privacy
    </p>


    <h3>VII. ЦЕЛИ, ЗА КОИТО СЕ ОБРАБОТВАТ ЛИЧНИТЕ ДАННИ</h3>

    <p>
        9.1 Администраторът събира и обработва личните данни на физическите лица, които са предоставени директно от тях само за следните цели, а именно:

        с цел предоставяне на услуги, които Администраторът предлага и идентифициране на физическите лица (бъдещи и настоящи клиенти);
        за осъществяване на контакт с физическото лице чрез e-mail, за да може Администраторът да отговори на постъпилото от физическото лице запитване;
        за изпълнение на задължения по договор, по който физическото лице, за което се отнасят данните, е страна, както и за действия, предхождащи сключването на договор и предприети по негово искане;
        за изпълнение на нормативно установено задължение на Администратора на лични данни, в съответствие с приложимото право;
        за изпращане на закупените от физическото лице стоки;
        за изпращане на информационни бюлетини, в които се съдържа информация за получени нови колекции, намаления и др.
        счетоводни цели;
        статистически цели.
        9.2 Администраторът събира и обработва личните данни на физическите лица, които са събрани автоматично за следните цели, а именно:

        – подобряване ефективността и функционалността на уеб сайта;

        – изготвяне на анонимни статистически данни за начина, по който уеб сайтът е бил използван.

        9.3 Администраторът няма право да използва личните данни на физическите лица за цели, които са различни от целите посочени в този раздел от настоящата Политика за защита на личните данни.
    </p>

    <h3>VIII. СРОК НА СЪХРАНЕНИЕ НА ЛИЧНИТЕ ДАННИ</h3>

    <p>
        10.1 Лични данни на лица, които са направили запитване използвайки контактната форма на уеб сайта: Администраторът съхранява личните данни на лицата, които са направили запитване използвайки контактната форма на уеб сайта за срок от:

        за лица, които не са станали клиенти на Администратора до един месец от изпращане на запитването: личните данни се съхраняват за срок от три месеца след изпращане на запитването.
        за лица, които са станали клиенти на Администратора: личните данни се съхраняват за срок от 10 години след изпълнение на възложената от клиента на Администратора услуга.
        10.2 Лични данни на лица, които са направили запитване по телефон: Администраторът съхранява личните данни на лицата, които са направили запитване по телефон за срок от:

        за лица, които не са станали клиенти на Администратора до един месец от извършване на запитването по телефон: личните данни се съхраняват за срок от три месеца.
        за лица, които са станали клиенти на Администратора: личните данни се съхраняват за срок от 10 години след изпълнение на възложената от клиента на Администратора услуга.
    </p>

    <h3>IX. ЗАДЪЛЖИТЕЛЕН И ДОБРОВОЛЕН ХАРАКТЕР НА ПРЕДОСТАВЯНЕ НА ЛИЧНИТЕ ДАННИ</h3>

    <p>
        11.1 Личните данни, които се изискват да се предоставят от физическите лица са съобразени с услугите, които се предлагат от Администратора и имат задължителен характер. Предоставянето на лични данни от физическите лица е доброволно. В случай, че бъде отказано предоставянето на лични данни:

        – Администраторът няма да бъде в състояние да предостави желаната от физическото услуга или информация относно предлаганата от Администратора услуга;

        – Администраторът няма да може да получи мейла от потребителя ако последният не попълни необходимата информация във формата за контакт.
    </p>

    <h3>X. ОБРАБОТВАНЕ НА ЛИЧНИ ДАННИ</h3>

    <p>
        12.1 Администраторът обработва личните данни на физическите лица посредством съвкупност от действия, които могат да се извършват с автоматични или неавтоматични средства.

        12.2 Администраторът обработва личните данни на физическите лица самостоятелно или чрез възлагане на обработващ даннните от името на Администратора, който е счетоводителят на дружеството, който е базиран в Република България.
    </p>

    <h3>XI. ПРОФИЛИРАНЕ</h3>

    <p>
        13.1 Профилиране означава всяка форма на автоматизирано обработване на лични данни, изразяващо се в използването на лични данни за оценяване на определени лични аспекти, свързани с физическо лице, и по-конкретно за анализиране или прогнозиране на аспекти, отнасящи се до изпълнението на професионалните задължения на това физическо лице, неговото икономическо състояние, здраве, лични предпочитания, интереси, надеждност, поведение, местоположение или движение. При извършване на профилиране се използват автоматизирани методи и алгоритми.

        13.2 Администраторът извършва профилиране с цел предоставяните от администратора услуги да бъдат адаптирани към нуждите на физическите лица, а също така и с цел подобряване на услугите на администратора. За тази цел се използват автоматизирани методи и алгоритми, за да бъдат определени предпочитанията на физическите лица чрез извършване на първоначална или текуща оценка въз основа на данните предоставени от физическото лице. По този начин се установява какво би било най-подходящото предложение за съответното физическо лице, за да може да бъде изготвено и отправено най-подходящото предложение към лицето.
    </p>

    <h3>XII. ЗАЩИТА НА ЛИЧНИТЕ ДАННИ</h3>

    <p>
        14.1 Администраторът предприема необходимите технически и организационни мерки, за да защити личните данни от случайно или незаконно унищожаване, или от случайна загуба, от неправомерен достъп, изменение или разпространение, както и от други незаконни форми на обработване, а именно:

        – цялата лична информация, която физическото лице предостави на Администратора се съхранява на сигурни и надеждни сървъри и папки;

        – при упражняване на правото на достъп от физическото лице, Администраторът проверява идентичността на физическото лице, преди да му предостави исканата информация.

        14.2 Изчерпателна информация относно предприетите от администратора технически и организационни мерки е налична в Инструкцията за механизма на обработване на лични данни и защитата им в поддържаните регистри, съдържащи лични данни при Администратора. В случай, че желаете да получите подробна информация относно техническите и организационни мерки, моля не се колебайте да се свържете с нас на 00359 878 706 869 или като направите запитване използвайки контактната форма на този уеб сайт.
    </p>

    <h3>XIII. ПОЛУЧАТЕЛИ, НА КОИТО МОГАТ ДА БЪДАТ РАЗКРИТИ ЛИЧНИТЕ ДАННИ</h3>

    <p>
        15.1 Администраторът има право да разкрива обработваните лични данни на следните категории лица, а именно:

        на физическите лица, за които се отнасят данните;
        на лица, ако е предвидено в нормативен акт, например държавни органи (НАП, Патентно ведомство, Търговски регистър и др.);
        на лица, обработващи личните данни, които предоставят услуги в полза на бизнес дейностите на Доставчика, като например счетоводитeл на Администратора и куриерски организации, като тези лица са обвързани със задължение за спазване на конфиденциалност, а също така тези лица са предоставили достатъчни гаранции за прилагането на подходящи технически и организационни мерки по такъв начин, че обработването да протича в съответствие с изискванията на Регламента и да осигурява защита на правата на физическите лица.
        15.2 Доставчикът не продава предоставени от физическото лице лични данни на трети страни.
    </p>

    <h3>XIV.    ПРАВА НА ФИЗИЧЕСКИТЕ ЛИЦА</h3>

    <h3>ПРАВА НА ФИЗИЧЕСКИТЕ ЛИЦА</h3>

    <p>
        Право на достъп

        16.1 Физическото лице има право да получи от Администратора потвърждение дали се обработват лични данни, свързани с него, и ако това е така, да получи достъп до данните – съответните категории лични данни.

        Право на коригиране

        16.2 Физическото лице има право да поиска от Администратора да коригира без ненужно забавяне неточните лични данни, свързани с него. Като се имат предвид целите на обработването физическото лице има право непълните лични данни да бъдат попълнени, включително чрез добавяне на декларация.

        Право на изтриване (право „да бъдеш забравен“)

        16.3 Физическото лице има правото да поиска от Администратора изтриване на свързаните с него лични данни без ненужно забавяне, а Администраторът има задължението да изтрие без ненужно забавяне личните данни, когато е приложимо някое от посочените в чл.17 от Регламент 2016/679 основания.

        Право на ограничаване на обработването

        16.4 Физическото лице има право да изиска от Администратора ограничаване на обработването, когато се прилага едно от посочените в чл.18 от Регламент 2016/679 условия. Когато се извърши ограничение на обработването, такива данни се обработват, с изключение на тяхното съхранение, само със съгласието на физическото лице или за установяването, упражняването или защитата на правни претенции или за защита на правата на друго физическо лице или поради важни основания от обществен интерес за Съюза или държава членка. Когато физическото лице е изискалo ограничаване на обработването, Aдминистраторът го информира преди отмяната на ограничаването на обработването.

        Право на преносимост на данните

        16.5 Физическото лице има право да получи личните данни, които го засягат и които той е предоставил на администратор, в структуриран, широко използван и пригоден за машинно четене формат, когато обработването е основано на съгласие в съответствие или на договорно задължение и обработването се извършва по автоматизиран начин.

        Право на възражение

        16.6 Физическото лице има право, по всяко време и на основания, свързани с неговата конкретна ситуация, на възражение срещу обработване на лични данни, отнасящи се до него. Съгласно чл.21, параграф 4 от Регламент 2016/679 физическото лице изрично се уведомява за съществуването на правото на възражение, което се представя по ясен начин и отделно от всяка друга информация. За изпълнение на това задължение, повече информация относно правото на възражение може да бъде намерена в раздела по-долу озаглавен „Право на възражение“.

        Право на оттегляне на съгласието

        16.7 Физическото лице има право по всяко време да оттегли даденото от него съгласие. Оттеглянето на съгласието не засяга законосъобразността на обработването, основано на дадено съгласие преди неговото оттегляне. Физическото лице може да оттегли съгласието си по реда посочен в раздел XIV от настоящата политика за поверителност или като избере опция „unsubscribe” при получаването на бюлетин.

        Права при профилиране

        16.8 Физическото лице има право да не бъде обект на решение, основаващо се единствено на автоматизирано обработване, включващо профилиране, което поражда правни последствия за субекта на данните или по подобен начин го засяга в значителна степен.

        Право на уведомяване за нарушение на сигурността на личните данни

        16.9 Когато има вероятност нарушението на сигурността на личните данни да породи висок риск за правата и свободите на физическите лица, физическото лице трябва да бъде уведоменo без ненужно забавяне, за нарушението на сигурността на личните данни.

        Право на защита по съдебен и административен ред

        Право на подаване на жалба до надзорен орган

        16.10 Физическото лице има право да подаде жалба до надзорен орган, по-специално в държавата членка на обичайно местопребиваване, място на работа или място на предполагаемото нарушение, ако физическото лице счита, че обработването на лични данни, отнасящи се до него,нарушава разпоредбите на Регламента.

        Право на ефективна съдебна защита срещу надзорен орган

        16.11 Всяко физическо и юридическо лице има право на ефективна съдебна защита срещу отнасящо се до него решение със задължителен характер на надзорен орган. Производствата срещу надзорен орган се образуват пред съдилищата на държавата членка, в която е установен надзорният орган.

        В: Право на ефективна съдебна защита срещу администратор или обработващ лични данни

        16.12 Без да се засягат които и да било налични административни или несъдебни средства за защита, включително правото на подаване на жалба до надзорен орган, физическото лице има право на ефективна съдебна защита, когато счита, че правата му по Регламента са били нарушени в резултат на обработване на личните му данни, което не е в съответствие с Регламента. Производствата срещу даден администратор или обработващ лични данни се образуват пред съдилищата на държавата членка, в която Администраторът или обработващият лични данни има място на установяване.

        Право на обезщетение за претърпени вреди

        16.13 Всяко лице, което е претърпяло материални или нематериални вреди в резултат на нарушение на  Регламента, има право да получи обезщетение от Администратора или обработващия лични данни за нанесените вреди. Съдебните производства във връзка с упражняването на правото на обезщетение се образуват пред съдилищата на държавата членка, в която Администраторът или обработващият лични данни има място на установяване.
    </p>

    <h3>XV. РЕД ЗА УПРАЖНЯВАНЕ НА ПРАВАТА</h3>

    <p>
        17.1 Физическите лица упражняват правото си на оттегляне на дадено съгласие, правото на достъп, правото на изтриване, коригиране, правото на ограничаване на обработването, правото на преносимост на данните, правото на възражение и правата при профилиране, чрез подаването на писмено искане до Администратора (или по поща на адреса посочен в идентификацията на Администратора по-горе в настоящата политика за поверителност или чрез изпращане на имейл), което следва да съдържа следната информация:

        име, адрес и други данни за идентифициране на съответното физическо лице;
        описание на искането;
        подпис, дата на подаване на искането и адрес на електронна поща.
        17.2 Искането се отправя лично от физическото лице. Администраторът завежда исканията подадени от физическите лица в отделен регистър.

        17.3 След като физическото лице упражни правото си на достъп до отнасящи се до него лични данни, Администраторът проверява идентичността на физическото лице преди да отговори на искането. Това е необходимо, за да се минимализира рискът от неправомерен достъп до данните и кражба на самоличност. В случай, че Администраторът не може да идентифицира физическото лице от събраните лични данни, тогава Администраторът има право да изиска копие от документи, които идентифицират физическото лице (като например лична карта, шофьорска книжка, други документи, които съдържат лични данни, които могат да идентифицират физическото лице).

        17.4 Администраторът разглежда искането и предоставя на физическото лице информация относно действията, предприети във връзка с искането в срок от един месец от получаване на искането. При необходимост този срок може да бъде удължен с още два месеца, като се взема предвид сложността и броя на исканията.

        17.5 Администраторът информира физическото лице за всяко такова удължаване в срок от един месец от получаване на искането, като посочва и причините за забавянето. Когато физическото лице подава искане с електронни средства, по възможност информацията се предоставя с електронни средства, освен ако лицето не е поискало друго.

        17.6 Ако Администраторът не предприеме действия по искането на физическото лице, Aдминистраторът уведомява лицето без забавяне и най-късно в срок от един месец от получаване на искането за причините да не предприеме действия и за възможността за подаване на жалба до надзорен орган и търсене на защита по съдебен ред.

        17.7 Администраторът се задължава да съобщава за всяко извършено коригиране, изтриване или ограничаване на обработване на всеки получател, на когото личните данни са били разкрити, освен ако това е невъзможно или изисква несъразмерно големи усилия. Администраторът информира физическото лице относно тези получатели, ако лицето поиска това.
    </p>

    <h3>XVI. ПРАВО НА ВЪЗРАЖЕНИЕ</h3>

    <p>
        18.1 Физическото лице има право, по всяко време и на основания, свързани с неговата конкретна ситуация, на възражение срещу обработване на лични данни, отнасящи се до него. Съгласно чл.21, параграф 4 от Регламент 2016/679 физическото лице изрично се уведомява за съществуването на правото на възражение, което се представя по ясен начин и отделно от всяка друга информация. За изпълнение на това задължение, повече информация относно правото на възражение ще бъде предоставена в този раздел на настоящата политика за поверителност.

        18.2 Физическото лице има право, по всяко време и на основания, свързани с неговата конкретна ситуация, на възражение срещу обработване на лични данни, отнасящи се до него, в случаите, в които обработването е необходимо за изпълнението на задача от обществен интерес или при упражняването на официални правомощия, които са предоставени на Aдминистратора или обработването е необходимо за целите на легитимните интереси на Aдминистратора или на трета страна, освен когато пред такива интереси преимущество имат интересите или основните права и свободи на физическото лице, които изискват защита на личните данни, по-специално когато физическото лице е дете. Администраторът се задължава да прекрати обработването на личните данни, освен ако не докаже, че съществуват убедителни законови основания за обработването, които имат предимство пред интересите, правата и свободите на физическото лице, или за установяването, упражняването или защитата на правни претенции. Физическите лица упражняват правото си на възражение чрез подаването на писмено искане до Администратора по поща на адреса посочен в идентификацията на Администратора по-горе в настоящата политика за поверителност или чрез изпращане на имейл.

        18.3 Когато се обработват лични данни за целите на директния маркетинг, физическото лице има право по всяко време да направи възражение срещу обработване на лични данни, отнасящо се до него за този вид маркетинг, което включва и профилиране, доколкото то е свързано с директния маркетинг. Когато физическото лице възрази срещу обработване за целите на директния маркетинг, обработването на личните данни за тези цели се прекратява. Физическите лица упражняват правото си на възражение чрез подаването на писмено искане до Администратора по поща на адреса посочен в идентификацията на Администратора по-горе в настоящата политика за поверителност или чрез изпращане на имейл, в което се указва, че не желае да получава рекламни съобщения.
    </p>

    <h3>XVII. ВРЪЗКИ, ИНСТРУМЕНТИ И СЪДЪРЖАНИЕ ОТ ДРУГИ КОМПАНИИ</h3>

    <p>
        19.1 Уеб сайтът съдържа бутони, инструменти или съдържание, които се свързват с услуги на други компании, като като бутони „Споделете във Facebook“, „Споделете в Twitter”, “Споделете в Linkedin”, а също и връзки към профил на Доставчика в социалната медия “Linkedin” и връзки към разработчика на уеб сайта на Администратора. Всички сайтове на такива компании, които могат да бъдат достъпни чрез този уеб сайт са независими и Администраторът не поема каквато и да е отговорност за възникнали вреди и загуби в резултат на използването на тези сайтове. Физическите лица използват тези сайтове на тяхна собствена отговорност и е препоръчително запознаването със съответната Политика за поверителност на съответната компания с цел получаване на повече информация.
    </p>

    <h3>XVIII.     ПРОМЕНИ В ПОЛИТИКАТА ЗА ПОВЕРИТЕЛНОСТ</h3>

    <p>
        20.1 Тази Политика за поверителност може да бъде актуализирана по всяко време в бъдеще. Когато това се случи, променената политика ще бъде публикувана на този уеб сайт с нова дата „Последна промяна“ в горната част на тази Политика за поверителност и ще бъде в сила от датата на публикуване. Поради това е препоръчително периодично да  проверявате тази Политика за поверителност, за да сте сигурни, че сте запознати с всички промени. Използването на уеб сайта след публикуването на актуализираната Политика за поверителност, ще се счита, че се съгласявате с извършените промени.
    </p>

    <h3>XIX.    КОНТАКТИ</h3>

    <p>
        21.1 В случай, че имате допълнителни въпроси относно настоящата Политика за поверителност, моля не се колебайте да се свържете с нас на +359 878 706 869 или като използвате формата за контакт на този уеб сайт.

        Последна актуализация: 15 Януари 2020 г.
    </p>

</div>
