@{
    this.ViewData["Title"] = "Privacy";
}

<head>
    <link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">

    <h1>Условия за ползване на сайта</h1>

    <h3>ОБЩИ УСЛОВИЯ</h3>

    <p>
        Моля, преди да използвате сайтa, прочетете внимателно настоящите ОБЩИ УСЛОВИЯ за използване на интернет страницaта bezergyanov.com, 
        наричана за краткост "bezergyanov.com". С натискането на обект, картинка, линк (различен от този на Общите условия) или бутон, 
        разположен на уебсайта bezergyanov.com cе счита, че Вие приемате и сте съгласни с описаните по-долу Общи условия.

        bezergyanov.com е собственост на Безергянов ЕООД - дружество, регистрирано по Търговския закон на Република България, 
        със седалище и адрес на управление:  гр.Долна Оряховица,ул.Черно Море 2, с Идентификационен номер по Булстат: 201077382;

        Телефон за контакт: +359 878 706 869, имейл адрес: pri_lalo@abv.bg
    </p>

    <h3>I. Условия за регистрация</h3>

    <p>
        За да пазарувате от bezergyanov.com, се нуждаете от регистрация. 
        Регистрирайки се в bezergyanov.com с Вашия имейл адрес, ще си спестите въвеждането на име, телефон и адрес всеки път, 
        когато пазарувате и също така получавате допълнителни привилегии, като това да научавате първи за нашите специални оферти и отстъпки. 
        След като вече сте регистрирани, може да променяте своите данни в секция "Моят профил".
    </p>

    <h3>II. Общи разпоредби</h3>

    <p>
        Настоящите ОБЩИ УСЛОВИЯ представляват договор между Вас, наричани за краткост „ПОТРЕБИТЕЛ” и bezergyanov.com, 
        с който получавате правото да използвате услугите на bezergyanov.com при спазване на условията по-долу. 
        Чрез регистрацията си в bezergyanov.com, Вие се съгласявате да бъдете обвързан от настоящите ОБЩИ УСЛОВИЯ и всички последващи промени в тях, 
        както и се задължавате да ги спазвате. В случай, че не сте съгласни с ОБЩИТЕ УСЛОВИЯ, моля не използвайте bezergyanov.com. 
        bezergyanov.com си запазва правaта по всяко време да изменя по своя преценка настоящите ОБЩИ УСЛОВИЯ, 
        като изменените ОБЩИ УСЛОВИЯ влизат незабавно в сила и стават задължителни за ПОТРЕБИТЕЛЯ от момента на публикуването им на bezergyanov.com. 
        Настоящите ОБЩИ УСЛОВИЯ имат обвързващо действие само в отношенията между Вас като ПОТРЕБИТЕЛ на услугите на bezergyanov.com. 
        Вие получавате правото да използвате услугите на bezergyanov.com единствено за лични/нетърговски цели.
    </p>

    <h3>III. Авторски права</h3>

    <p>
        Съдържанието в bezergyanov.com – информация, данни, ресурси, услуги, текст, графики - e собственост на Безергянов ЕООД 
        и/или на неговите партньори и доставчици, и е защитено с авторски права. Нито една част от този сайт не може да бъде възпроизвеждана под никаква форма, 
        с каквато и да е цел и в каквато и да е медия или компютърна среда без изричното писмено съгласие на Безергянов ЕООД 
        и/или на неговите партньори и доставчици. Всяко неупълномощено използване на съдържанието ще се тълкува като нарушение на Закона за авторското право 
        и сродните му права, Закона за марките и географските означения и другите действащи закони. 
        Новините на страницата bezergyanov.com са предназначени само за Ваша лична информация. 
        Употребата им извън този смисъл като публикуване, размножаване, всяка форма на комерсиално използване, както и препредаването на трети лица в пълна, 
        частична или преработена форма без знанието и одобрението на Безергянов ЕООД  е забранено.
    </p>

    <h3>IV. Защита на личните данни</h3>

    <p>
        Безергянов ЕООД  е администратор на лични данни, регистриран по Закона за защита на личните данни. 
        Безергянов ЕООД гарантира неприкосновеността на информацията, съдържаща лични данни, предоставяна от Потребителите в процеса на регистрация. 
        Разкриване е възможно единствено в случаите, когато информацията е изискана от държавни органи или длъжностни лица, 
        упълномощени със закон да изискват и събират информация съдържаща лични данни и при спазване на нормативно установения ред. 
        С ползването на интернет страницaта bezergyanov.com, ПОТРЕБИТЕЛЯТ приема употребата на "бисквитки" от bezergyanov.com, 
        които помагат за предоставянето на по-качествена услуга. ПОТРЕБИТЕЛЯТ има право да възрази срещу обработването на личните му данни за целите на директния маркетинг, 
        като изпрати писмено съобщение до Безергянов ЕООД  на pri_lalo@abv.bg.
    </p>

    <h3>V. Ограничаване на отговорността</h3>

    <p>
        Безергянов ЕООД  прави всичко възможно за да поддържа на интернет страницaта bezergyanov.com вярна, точна и актуална информация. 
        Това не изключва възможността инцидентно да възникват обективни несъответствия или пропуски. 
        Безергянов ЕООД не носи отговорност за последиците, включително за евентуални вреди, породени от или свързани по какъвто и да е начин с достъпа, 
        употребата или невъзможността за употреба на bezergyanov.com. Безергянов ЕООД  не носи отговорност за информацията (в т.ч. за нейната пълнота и достоверност), 
        съдържаща се в сайтовете, към които настоящият сайт съдържа препратки. Безергянов ЕООД не носи отговорност при невярност на посочената 
        от производител информация за характеристиките на дадена стока, включително и продуктовите изображения.
    </p>

    <h3>VI. Регистрация</h3>

    <p>
        За да може да поръча стоки от bezergyanov.com, Потребителят трябва:
        Да е попълнил вярно on-line електронната регистрационна форма, намираща се на интернет страницaта bezergyanov.com. 
        При попълване на електронната форма за регистрация ПОТРЕБИТЕЛЯT е длъжен да предостави пълни и верни данни относно самоличността 
        си и другите изискуеми от електронната форма данни, както и да ги актуализира в 7-дневен срок от тяхната промяна;
        ПОТРЕБИТЕЛЯT гарантира, че данните, които предоставя в процеса на регистрация, са верни, пълни и точни и при промяна на последните, 
        ще ги актуализира своевременно. В случай, че ПОТРЕБИТЕЛЯT предостави неверни данни или не са отразени настъпили промени в срока по този параграф, 
        bezergyanov.com има право да спре незабавно и без предизвестие поддържането на регистрацията на Потребителя и достъпа до клиентския му профил.
    </p>

    <h3>VII. Поръчка</h3>

    <p>
        Поръчки се обработват от екипа на bezergyanov.com в дните понеделник до петък включително: от 11:30 ч. до 19:00 ч и същото от 12:00 ч. до 19:00 . Всички поръчки, подадени извън този период не се обработват.
        Поръчки потвърдени до 19:00 ч. се доставят в рамките на един час.

        Можете да поръчате избраните стоки, като ги добавите в количката и натиснете бутона "Напред". На страницата за поръчката попълнете Вашите данни:


        Имена, адрес за доставка, телефон за връзка, имейл адрес;
        Заплащането се извършва или в брой или с карта при получаване на поръчката или при вземане от място на адреса на ресторанта;
        След като попълните Вашите данни и изберете начин на плащане, изпратете поръчката и ние ще се свържем с Вас за потвърждение.
    </p>

    <h3>VIII. Плащане</h3>

    <p>
        bezergyanov.com предлага няколко начина за плащане на стоките:

        Наложен платеж (при получаване на стоката от куриера);
        С банкова карта;
    </p>

</div>
