@{
    this.ViewData["Title"] = "Privacy";
}

<head>
    <link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">

    <h1>Условия за ползване на сайта</h1>

    <h3>ОБЩИ УСЛОВИЯ</h3>

    <p>
        Моля, преди да използвате сайтa, прочетете внимателно настоящите ОБЩИ УСЛОВИЯ за използване на интернет страницaта Basecamp-shop.com, наричана за краткост "basecamp-shop.com". С натискането на обект, картинка, линк (различен от този на Общите условия) или бутон, разположен на уебсайта basecamp-shop.com cе счита, че Вие приемате и сте съгласни с описаните по-долу Общи условия.

        basecamp-shop.com е собственост на ЕксКоСпортс България ООД - дружество, регистрирано по Търговския закон на Република България, със седалище и адрес на управление: гр. София, Лозенец, ул. Орел 11, ет. 3; с Идентификационен номер по Булстат: 201059861; ДДС Номер: BG201059861.

        Телефон за контакт: +359894505117, имейл адрес: support@basecamp-shop.com
    </p>

    <h3>I. Условия за регистрация</h3>

    <p>
        За да пазарувате от basecamp-shop.com, се нуждаете от регистрация. Регистрирайки се в basecamp-shop.com с Вашия имейл адрес, ще си спестите въвеждането на име, телефон и адрес всеки път, когато пазарувате и също така получавате допълнителни привилегии, като това да научавате първи за нашите специални оферти и отстъпки. След като вече сте регистрирани, може да променяте своите данни в секция "Моят профил".
        basecamp-shop.com Ви дава възможността да се регистрирате и като юридическо лице, като при регистрацията се въвеждат вички фирмени данни необходими за издаването на фактура.
    </p>

    <h3>II. Общи разпоредби</h3>

    <p>
        Настоящите ОБЩИ УСЛОВИЯ представляват договор между Вас, наричани за краткост „ПОТРЕБИТЕЛ” и basecamp-shop.com, с който получавате правото да използвате услугите на Basecamp-shop.com при спазване на условията по-долу. Чрез регистрацията си в basecamp-shop.com, Вие се съгласявате да бъдете обвързан от настоящите ОБЩИ УСЛОВИЯ и всички последващи промени в тях, както и се задължавате да ги спазвате. В случай, че не сте съгласни с ОБЩИТЕ УСЛОВИЯ, моля не използвайте basecamp-shop.com. basecamp-shop.com си запазва правaта по всяко време да изменя по своя преценка настоящите ОБЩИ УСЛОВИЯ, като изменените ОБЩИ УСЛОВИЯ влизат незабавно в сила и стават задължителни за ПОТРЕБИТЕЛЯ от момента на публикуването им на Basecamp-shop.com. Настоящите ОБЩИ УСЛОВИЯ имат обвързващо действие само в отношенията между Вас като ПОТРЕБИТЕЛ на услугите на Basecamp-shop.com. Вие получавате правото да използвате услугите на Basecamp-shop.com единствено за лични/нетърговски цели.
    </p>

    <h3>III. Авторски права</h3>

    <p>
        Съдържанието в Basecamp-shop.com – информация, данни, ресурси, услуги, текст, графики - e собственост на ЕКСКОСПОРТС БЪЛГАРИЯ ООД и/или на неговите партньори и доставчици, и е защитено с авторски права. Нито една част от този сайт не може да бъде възпроизвеждана под никаква форма, с каквато и да е цел и в каквато и да е медия или компютърна среда без изричното писмено съгласие на ЕКСКОСПОРТС БЪЛГАРИЯ ООД и/или на неговите партньори и доставчици. Всяко неупълномощено използване на съдържанието ще се тълкува като нарушение на Закона за авторското право и сродните му права, Закона за марките и географските означения и другите действащи закони. Новините на страницата Basecamp-shop.com са предназначени само за Ваша лична информация. Употребата им извън този смисъл като публикуване, размножаване, всяка форма на комерсиално използване, както и препредаването на трети лица в пълна, частична или преработена форма без знанието и одобрението на ЕксКоСпортс България ООД е забранено.
    </p>

    <h3>IV. Защита на личните данни</h3>

    <p>
        ЕКСКОСПОРТС БЪЛГАРИЯ ООД е администратор на лични данни, регистриран по Закона за защита на личните данни. ЕКСКОСПОРТС БЪЛГАРИЯ ООД гарантира неприкосновеността на информацията, съдържаща лични данни, предоставяна от Потребителите в процеса на регистрация. Разкриване е възможно единствено в случаите, когато информацията е изискана от държавни органи или длъжностни лица, упълномощени със закон да изискват и събират информация съдържаща лични данни и при спазване на нормативно установения ред. С ползването на интернет страницaта Basecamp-shop.com, ПОТРЕБИТЕЛЯТ приема употребата на "бисквитки" от Basecamp-shop.com, които помагат за предоставянето на по-качествена услуга. ПОТРЕБИТЕЛЯТ има право да възрази срещу обработването на личните му данни за целите на директния маркетинг, като изпрати писмено съобщение до ЕКСКОСПОРТС БЪЛГАРИЯ ООД на support@basecamp-shop.com.
    </p>

    <h3>V. Ограничаване на отговорността</h3>

    <p>
        ЕКСКОСПОРТС БЪЛГАРИЯ ООД прави всичко възможно за да поддържа на интернет страницaта Basecamp-shop.com вярна, точна и актуална информация. Това не изключва възможността инцидентно да възникват обективни несъответствия или пропуски. ЕКСКОСПОРТС БЪЛГАРИЯ ООД не носи отговорност за последиците, включително за евентуални вреди, породени от или свързани по какъвто и да е начин с достъпа, употребата или невъзможността за употреба на Basecamp-shop.com. ЕКСКОСПОРТС БЪЛГАРИЯ ООД не носи отговорност за информацията (в т.ч. за нейната пълнота и достоверност), съдържаща се в сайтовете, към които настоящият сайт съдържа препратки. ЕКСКОСПОРТС БЪЛГАРИЯ ООД не носи отговорност при невярност на посочената от производител информация за характеристиките на дадена стока, включително и продуктовите изображения.
    </p>

    <h3>VI. Регистрация</h3>

    <p>
        За да може да поръча стоки от Basecamp-shop.com, Потребителят трябва:
        Да е попълнил вярно on-line електронната регистрационна форма, намираща се на интернет страницaта Basecamp-shop.com. При попълване на електронната форма за регистрация ПОТРЕБИТЕЛЯT е длъжен да предостави пълни и верни данни относно самоличността си и другите изискуеми от електронната форма данни, както и да ги актуализира в 7-дневен срок от тяхната промяна;
        ПОТРЕБИТЕЛЯT гарантира, че данните, които предоставя в процеса на регистрация, са верни, пълни и точни и при промяна на последните, ще ги актуализира своевременно. В случай, че ПОТРЕБИТЕЛЯT предостави неверни данни или не са отразени настъпили промени в срока по този параграф, Basecamp-shop.com има право да спре незабавно и без предизвестие поддържането на регистрацията на Потребителя и достъпа до клиентския му профил.
    </p>

    <h3>VII. Поръчка</h3>

    <p>
        Поръчки се обработват от екипа на Basecamp-shop.com в дните понеделник до петък включително: от 10:00 ч. до 15:00 ч. Всички поръчки, подадени извън този период се обработват на следващия работен ден.
        Поръчки потвърдени до 15:00 ч. се изпращат в рамките на работния ден. Потвърдените след 15:00 ч. поръчки се изпращат на следващия работен ден.

        Можете да поръчате избраните стоки, като ги добавите в количката и натиснете бутона "Поръчай". На страницата за поръчката попълнете Вашите данни:


        Имена, адрес за доставка, телефон за връзка, имейл адрес;
        Фирмени данни за фактура (в случай на поръчка от юридическо лице);
        Изберете начин на плащане;
        След като попълните Вашите данни и изберете начин на плащане, изпратете поръчката и ние ще се свържем с Вас за потвърждение.
    </p>

    <h3>VIII. Плащане</h3>

    <p>
        Basecamp-shop.com предлага няколко начина за плащане на стоките:

        Наложен платеж (при получаване на стоката от куриера);
        Банков превод по банковата сметка на ЕКСКОСПОРТС БЪЛГАРИЯ ООД;
        Чрез PayPal;
        С банкова карта;
        Плащане с банков превод
        Ако сте избрали начин на плащане по банков път, преведете сумата на Вашата поръчка по сметка на ЕксКоСпортс България ООД. Като основание за превода посочете номера на вашата поръчка.
    </p>

</div>
