@model PastaWorld.Web.ViewModels.News.NewsViewModel;
@using PastaWorld.Web.ViewModels.Admins
@{
    this.ViewData["Title"] = "Edit News";
}


<div class="row justify-content-center">
    <img src="@Model.MainImagePath" style="max-height: 335px;" alt="Image" />
</div>

<form method="post" class="col-md-7 offset-4 text-center" enctype="application/x-www-form-urlencoded">
    <div asp-validation-summary="ModelOnly" class="text-danger col-md-12"></div>

    <div class="col-md-7">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="col-md-7">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" value="@Model.Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary mt-4" value="Update"/>

</form>