@{
    this.ViewData["Title"] = "Admin View";
}

<div>
    
    <div class="row col-md-12 justify-content-center">
        <p>Admin View</p>
    </div>

    <div class="">

        <ul class="col">
            <li class="nav-item row justify-content-center">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddNews">AddNews</a>
            </li>
            <li class="nav-item row justify-content-center">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AllNews">All News</a>
            </li>
            <li class="nav-item row justify-content-center">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddMeal">Add Meal</a>
            </li>
            <li class="nav-item row justify-content-center">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AllMeals">All Meals</a>
            </li>
        </ul>

    </div>

</div>