<h1>Success</h1>
<div class=" alert alert-success">
    Recipe has been successfully added to the Database
</div>
<div class="mb-5">
    <a asp-controller="Home" asp-action="Index"><button class="btn btn-primary">Go Home</button></a>
    <a asp-controller="Admin" asp-action="Index"><button class="btn btn-primary">Return to Admin Area</button></a>
</div>