.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #007bff;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

.cart{
    display:flex;
    align-items:center;
}

.arrow-up, .arrow-down{
    width:1rem;
}

.arrow-down{
    color:red;
}
.arrow-up{
    color:green;
}
.arrow-down:hover{
    font-size:larger
}
.arrow-up:hover {
    font-size: larger
}

.arrow-container:hover {
    text-decoration: none;
}