
.nav-link {
    font-weight: 700;
    color: black !important;
    
}

.button1:hover {
    color: white !important;
    background-color: red;
    border-radius: 100px 10px / 120px;
}

.button2:hover {
    color: white !important;
    background-color: dodgerblue;
    border-radius: 100px 10px / 120px;
}

.button3:hover {
    color: white !important;
    background-color: lightblue;
    border-radius: 100px 10px / 120px;
}

.close-button {
    color: red !important;
    font-size: 1.9vw;
    max-height: 30px;
    max-width: 30px;
    text-decoration: none !important;
    
}

.close-button:hover {
    background-color: red;
    color: white !important;
}
