#information {
    width: 100%;
    height: 100%;
    max-width: 1980px;
    position: relative;
    z-index: 1;
}

.text {
    font-family: 'Pattaya', sans-serif;
}


.google-maps {
    position: relative;
    padding-bottom: 75%;
    // This is the aspect ratio height: 0;
    overflow: hidden;
}

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.adress{

}