@model PastaWorld.Web.ViewModels.Meals.MealListViewModel
@using PastaWorld.Common
@{
    this.ViewData["Title"] = "All Menu";
}

<head>
    <link rel="stylesheet" href="~/css/allmenu.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="AllMenu">

    <img class="img-fluid justify-content-center" src="~/images/backgrounds/WhiteBackground.png"
         style="width: 1920px; height: auto; z-index: 100;" />


    @*Меню Паста*@
    <a id="tag-1" class="text-dark" asp-controller="Meal" asp-action="Index" asp-route-typeName="meal">Паста</a>
    <a class="text-dark" asp-controller="Meal" asp-action="Index" asp-route-typeName="meal">
        <div id="anchor-1">
            <img class="img-fluid justify-content-center" src="~/images/buttons/паста.jpg" alt="Alternate Text" />
        </div>
    </a>
    <div id="icon-1">
        <img class="img-fluid justify-content-center" src="~/images/icons/star-1.png" alt="Alternate Text" />
    </div>
    <div id="logo-1">Направено с Любов за Вас</div>


    @*Меню Напитки*@
    <a id="tag-2" class="text-dark" asp-controller="Meal" asp-action="Index" asp-route-typeName="drink">Напитки</a>
    <a class="text-dark" asp-controller="Meal" asp-action="Index" asp-route-typeName="drink">
        <div id="anchor-2">
            <img class="img-fluid justify-content-center" src="~/images/buttons/напитки.jpg" alt="Alternate Text" />
        </div>
    </a>
    <div id="icon-2">
        <img class="img-fluid justify-content-center" src="~/images/icons/star-1.png" alt="Alternate Text" />
    </div>
    <div id="logo-2">За по пълноценна вечеря</div>


    @*Меню Десерти*@
    <a id="tag-3" class="text-dark" asp-controller="Meal" asp-action="Index" asp-route-typeName="dessert">Десерти</a>
    <a class="text-dark" asp-controller="Meal" asp-action="Index" asp-route-typeName="dessert">
        <div id="anchor-3">
            <img class="img-fluid justify-content-center" src="~/images/buttons/десерти.jpg" alt="Alternate Text" />
        </div>
    </a>
    <div id="icon-3">
        <img class="img-fluid justify-content-center" src="~/images/icons/star-1.png" alt="Alternate Text" />
    </div>
    <div id="logo-3">Наслада за завършек</div>

</div>

<div>

    @*Детско Меню*@
    <a id="tag-4" class="text-dark" asp-controller="Menu" asp-action="Index" asp-route-typeName="kids">Детско меню</a>
    <a class="text-dark" asp-controller="Meal" asp-action="Index" asp-route-typeName="kids">
        <div id="anchor-4">
            <img class="img-fluid justify-content-center" src="~/images/buttons/kidsMenu.jpg" alt="Alternate Text" />
        </div>
    </a>
    @*<div id="icon-3">
        <img class="img-fluid justify-content-center" src="~/images/icons/star-1.png" alt="Alternate Text" />
    </div>
    <div id="logo-3">Наслада за завършек</div>*@

</div>