@using PastaWorld.Web.ViewModels.Orders

@model OrderPaymentViewModel
@{
    this.ViewData["Title"] = "Payment";
}

<head>
    <style>
        .d-flex {
            justify-content: space-around;
            align-items: center;
        }

        .col-lg-6 {
            padding: 0;
        }

        .text-uppercase {
            padding-bottom: 5%;
            padding-top: 5%;
        }

        .address-spacing {
            padding-right: 5%;
        }
    </style>
</head>

<div class="container">
    <div class="text-uppercase text-center">Данни за поръчка</div>
    <form method="post" asp-controller="Payment" asp-action="FinalyzeOrder">
        <div class="d-flex">
            <span>Пазаруване като гост</span>
            <span>Вход</span>
        </div>

        <div class="d-flex">

            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input class="form-control" asp-for="FirstName">
                </div>
                <div class="form-group">
                    <label asp-for="FamilyName"></label>
                    <input class="form-control" asp-for="FamilyName">
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input class="form-control" asp-for="PhoneNumber">
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input class="form-control" type="email" asp-for="Email">
                </div>
            </div>

            <div class="col-lg-6 d-flex">
                <button>Login</button>
            </div>
        </div>


        <div class="form-group">
            @foreach (var address in Model.Addresses)
            {
                <input type="radio" asp-for="IsUserAddress" value="@address">
                @address
                <br />
            }
        </div>

        <div class="d-flex">
            <div class="form-group col-lg-6 address-spacing">
                <label asp-for="Town"></label>
                <input class="form-control" asp-for="Town">
            </div>

            <div class="form-group col-lg-6">
                <label asp-for="Address"></label>
                <input class="form-control" asp-for="Address">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AddressComment"></label>
            <textarea class="form-control" asp-for="AddressComment" rows="5" cols="33" placeholder="Тук можете да опишете специфични подробности около адреса."></textarea>
        </div>

        <div class="form-group">
            @foreach (var paymentMethod in Model.PaymentMethods)
            {
                <input type="radio" asp-for="IsBankCard" value="@paymentMethod">
                @paymentMethod
                <br />
            }
        </div>

        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" asp-for="IsAgreedTermsAndConditions" />
            <label class="form-check-label" asp-for="IsAgreedTermsAndConditions">Съгласен/на съм с </label>
            <a href="#" target="_blank">Условията за ползване на сайта</a>
        </div>

        <input class="btn btn-primary" type="submit" asp-page="" value="Напред">
    </form>
</div>

<aside>
    @foreach (var item in Model.Items)
    {
        <div>@item.Meal.Name</div>
        <div>@item.Quantity</div>
    }
</aside>



